@font-face {
  font-family: "Product Sans Thin";
  src: url(/css/font/Product\ Sans\ Thin.ttf);
}
@font-face {
  font-family: "Product Sans Light";
  src: url(/css/font/Product\ Sans\ Light.ttf);
}
@font-face {
    font-family: "Product Sans Regular";
    src: url(/css/font/Product\ Sans\ Regular.ttf);
  }
  @font-face {
    font-family: "Product Sans Bold";
    src: url(/css/font/Product\ Sans\ Bold.ttf);
  }
  @font-face {
    font-family: "Product Sans Italic";
    src: url(/css/font/Product\ Sans\ Italic.ttf);
  }
  @font-face {
    font-family: "Product Sans Bold Italic";
    src: url(/css/font/Product\ Sans\ Bold\ Italic.ttf);
  }
  