@import './base.css'
@import './custom-colours'
* 
  color: #f7f7f7
  font-family: "Urbanist"

body 
  background-color: var(--dark-background)

// HEADER START
header 
  height: 4em
  padding: 0 1.5em
  display: grid
  position: sticky
  top: 0
  z-index: 999
  place-items: center
  background-color: #121212
  border-bottom: 1px solid #f7f7f735

  nav 
      display: flex
      max-width: 30em
      width: 100%
      justify-content: space-evenly

// HEADER END

// HERO START
.hero 
  height: 100dvh
  display: flex
  position: relative
  justify-content: center
  align-items: center
  gap: 10em
  flex-direction: column

.hero canvas 
  transition: opacity 1s ease 1.5s
  opacity: 0
  position: relative

.hero::before 
  position: absolute
  inset: 0
  content: ""
  background: linear-gradient(to bottom, #ffffff00, #151515)
  height: 100%
  width: 100%
  z-index: 2

.hero canvas.active 
  opacity: 1

.intro-content 
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  gap: 10em
  z-index: 30

.name 
  font-size: 5vw
  opacity: 0
  font-weight: 700
  animation: down 2s ease 500ms forwards

.titles 
  font-size: 2rem
  opacity: 0
  margin-top: 1em
  animation: down 2s ease 1000ms forwards

#next-btn 
  aspect-ratio: 1/1
  width: 5em
  opacity: 0
  animation: appear 2s ease 2500ms forwards, bounce 1000ms ease-in-out alternate infinite

// HERO END

// EXPERTISE START
.heading 
  font-size: 3em
  font-weight: 600
  padding: 1.5em 0 1em 0
  text-align: center

main section 
  padding: 2em 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.expertise-content

.expertise-flex
  display: flex
  gap: 2em
  flex-wrap: wrap
  justify-content: center

.expertise-flex__item
  min-width: 20em
  max-height: 20em
  aspect-ratio: 1 / 1
  border-radius: .5em
  display: flex
  flex-direction: column
  justify-content: center
  padding: 5em 2em
  outline: 4px solid #ffffff1f
  background: linear-gradient(to right, #191919, #111111)
  flex-grow: 1


.start 
    display: flex
    gap: 1em
    width: 95%
    margin-bottom: 1em

    .exp-title 
        font-size: 1.75em
        font-weight: 600

    .exp-icon 
        aspect-ratio: 1/1
        width: 4em

// EXPERTISE END

// SKILLS START
.skills 
  margin-top: 2em
  width: 100%

.skill-flex 
  display: flex
  justify-content: center
  align-items: center
  gap: 1em

.skill-flex__item 
  aspect-ratio: 1/1
  width: 100%
  display: grid
  place-items: center
  max-width: 20em
  border-radius: .5em
  border: 4px solid #f7f7f71e
  position: relative
  overflow: hidden

  :first-child
    transition: opacity .5s ease
    width: 10em

.skill-content 
  opacity: 0
  position: absolute
  inset: 0
  padding: 1em
  transition: opacity 1s ease
  display: grid
  width: 100%
  height: 100%
  place-items: center
  flex-wrap: wrap


  
  
  .skill-content__items
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-content: center
    gap: .5em

    img
      max-width: 3em
      height: fit-content    
      aspect-ratio: 1/1

.skill-flex__item:hover > img
  opacity: 0.1

.skill-flex__item:hover > .skill-content 
  opacity: 1
  backdrop-filter: blur(2px)

// SKILLS END

// WORK START
.work-flex 
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 2em
  padding: 0 1em
  width: 100%

.work-flex__item 
  max-width: 20em
  aspect-ratio: 10/15
  width: 100%
  border-radius: .5em
  position: relative
  overflow: hidden
  opacity: 0
  outline: 4px solid #ffffff1f
  background: linear-gradient(to right, #191919, #111111)
  transition: transform 300ms ease, opacity 1000ms ease

  &.active 
    opacity: 1

  .project-title 
    font-size: 2em
    font-weight: 600
    position: absolute
    top: 4em
    left: 1em
    z-index: 20

  .project-tools 
    display: flex
    gap: 0.5em
    z-index: 10
    flex-wrap: wrap
    justify-content: flex-end
    position: absolute
    top: 1em
    right: 1em

    .project-tools__item 
      padding: 0.4em 1em
      border-radius: 5px
      opacity: 0.6
      font-size: 0.8em
      border: .5px solid white

  img 
    object-fit: cover
    position: absolute
    width: 100%
    bottom: 0
    transition: transform 300ms ease

  &:hover 
    transform: scale(1.02)

    img 
      transform: scale(1.1)


// WORK END

// CONTACT START
.contact 
  background-color: #f7f7f718

.contact-grid 
  display: grid
  width: 100%
  padding: 5em 1em
  grid-template-columns: auto auto
  max-width: 100em

.contact-grid__item 
  flex: 1

.contact-grid__item.start 
  display: grid
  align-content: center
  gap: 2em

.contact-grid__item.end 
  display: flex
  gap: 2em
  justify-self: end
  flex-direction: column
  justify-content: center

.avatar 
  aspect-ratio: 1/1
  width: 8em
  object-fit: cover
  background-color: #f7f7f7
  border-radius: 9999px

.socials 
  display: flex
  gap: 1em
  width: 100%
  flex-wrap: wrap

.social__item 
  aspect-ratio: 1/1
  width: 3em

.start-info 
  display: flex
  gap: 2em
  align-items: center

.contact-name 
  font-size: 2.5em
  font-weight: 700

.contact-grid__item.end h1 
  font-size: 2.5em
  font-weight: 700

.contact-info 
  display: flex
  gap: 5em

.contact-info .label 
  font-size: 1.8em
  margin-bottom: 0.5em

.contact-detail 
  font-size: 1.4em
  position: relative

.contact-detail::before 
  content: ""
  position: absolute
  bottom: -10px
  height: 5px
  width: 100%
  background-color: white

// CONTACT END

@media (max-width: 769px) 
  section:nth-child(n + 1) 
    padding: 1em

  .intro-content 
    text-align: center

  .name 
    font-size: 14vw

  .expertise-flex 
    width: 100%
    flex-direction: column
    align-items: center

  .expertise-flex__item 
    width: 100%
    height: 20em

  .work-flex__item 
    width: 100%

  .skill-flex 
    flex-direction: column

  .contact-grid 
    grid-template-columns: auto
    gap: 5em

  .contact-grid__item.start 
    justify-items: center

  .contact-grid__item.end 
    justify-self: center

  .socials 
    justify-content: center

  .contact-info 
    flex-direction: column

  .start-info 
    display: flex
    flex-direction: column
    gap: 2em
    text-align: center

@keyframes appear 
  from 
    opacity: 0

  to 
    opacity: 1

@keyframes down 
  from 
    transform: translateY(0)

  to 
    opacity: 1
    transform: translateY(10px)

@keyframes bounce 
  from 
    transform: translate(0)

  to 
    transform: translateY(10px)
