@import url(./base.css);
* {
  color: #f7f7f7;
  font-family: 'Urbanist';
}
body {
  background-color: #262626;
}
/* HEADER START */
header {
  height: 4em;
  padding: 0 1.5em;
  display: grid;
  position: sticky;
  top: 0;
  z-index: 999;
  place-items: center;
  background-color: #121212;
  border-bottom: 1px solid #f7f7f735;
}
header nav {
  display: flex;
  gap: 1em;
}
/* HEADER END */

@media (min-width: 1080px) {
  header nav {
    gap: 5em;
  }
}
