@import './base.css'
@import './custom-colours'

* 
	color: #f7f7f7
	font-family: 'Urbanist'

body 
	background-color: #151515

header 
	height: 4em
	padding: 0 1.5em
	display: grid
	z-index: 999
	place-items: center
	background-color: #121212
	border-bottom: 1px solid #f7f7f735

	nav 
		display: flex
		max-width: 30em
		width: 100%
		justify-content: space-evenly


.heading
	font-size: 2em
	padding: 0 0 1em 0

.hero
	display: flex
	margin-top: 2em
	margin-bottom: 2em
	gap: 4em
	justify-content: center
	padding: 0 2em
	position: relative

	.hero-image
		aspect-ratio: 1/1
		width: 20em
		position: relative
		z-index: 1
		justify-content: center

	.details
		max-width: 30em
		width: 100%
		display: flex
		flex-direction: column
		justify-content: space-evenly
		
		.project-tools
			display: flex
			flex-wrap: wrap
			gap: 8px
			
			.project-tools__item
				border: .5px solid white
				font-size: 0.9em
				opacity: 0.7
				padding: .2em .8em
				border-radius: 4px

		.project-title
			font-size: 2em
			font-weight: 500

		.project-type 
			color: #ffffff8c
			margin: 3px 0

		.project-year 
			color: #ffffffbe

		.project-short-description
			color: #ffffffc1

		
.description
	background: #272727
	padding: 3em 0
	text-align: center
	
	.content
		max-width: 40em
		margin: auto

.gallery
	display: flex
	padding: 1.5em .1em
	flex-direction: column
	align-items: center

	.gallery-container
		display: flex
		flex-wrap: wrap
		gap: 8px
		justify-content: center
		max-width: 35em
		width: 100%
	
		.gallery-container__item
			aspect-ratio: auto
			width: 10em
			
			img
				max-width: 100%
section 
	padding: 2em 0
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.contact 
	background-color: #f7f7f718

.contact-grid 
	display: grid
	width: 100%
	padding: 5em 1em
	grid-template-columns: auto auto
	max-width: 100em

.contact-grid__item 
	flex: 1

.contact-grid__item.start 
	display: grid
	align-content: center
	justify-self: start
	gap: 2em

.contact-grid__item.end 
	display: flex
	gap: 2em
	justify-self: end
	flex-direction: column
	justify-content: center

.avatar 
	aspect-ratio: 1/1
	width: 8em
	object-fit: cover
	background-color: #f7f7f7
	border-radius: 9999px

.socials 
	display: flex
	gap: 1em
	width: 100%
	flex-wrap: wrap

.social__item 
	aspect-ratio: 1/1
	width: 3em

.start-info 
	display: flex
	gap: 2em
	align-items: center

.contact-name 
	font-size: 2.5em
	font-weight: 700

.contact-grid__item.end h1 
	font-size: 2.5em
	font-weight: 700

.contact-info 
	display: flex
	gap: 5em

.contact-info .label 
	font-size: 1.8em
	margin-bottom: 0.5em

.contact-detail 
	font-size: 1.4em
	position: relative

.contact-detail::before 
	content: ""
	position: absolute
	bottom: -10px
	height: 5px
	width: 100%
	background-color: white


@media (max-width: 768px) 
	header 
		padding: 0 1em

	.hero 
		flex-direction: column
		align-items: center
		margin-top: 0

		.hero-image 
			width: 100%

		.details 
			gap: 2em
			max-width: 100%

	.description
		padding: 2em

	.contact-grid 
		grid-template-columns: auto
		gap: 5em

	.contact-grid__item.start 
		justify-items: center

	.contact-grid__item.end 
		justify-self: center

	.socials 
		justify-content: center

	.contact-info 
		flex-direction: column

	.start-info 
		display: flex
		flex-direction: column
		gap: 2em
		text-align: center